<div class="sc-1baqrvp-0 sc-phien2-1 ffpWTv dntnru">
  <div class="sc-1lz4h6h-0 hNbKvD sc-phien2-2 dNrtzu">
    <div class="sc-1t6bwmy-0 gswIJF">
      <label for="price" class="sc-1t6bwmy-1 bTPdgy"
        ><div width="35" height="35" class="sc-wdregf-0 eoKEZS">
          <div
            style="
              display: inline-block;
              max-width: 100%;
              overflow: hidden;
              position: relative;
              box-sizing: border-box;
              margin: 0px;
            "
          >
            <div
              style="box-sizing: border-box; display: block; max-width: 100%"
            >
              <img
                alt=""
                aria-hidden="true"
                role="presentation"
                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+"
                style="
                  max-width: 100%;
                  display: block;
                  margin: 0px;
                  border: none;
                  padding: 0px;
                "
              />
            </div>
            <img
              alt="Prix"
              src="/_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_price.svg&amp;w=48&amp;q=75"
              decoding="async"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              "
              srcset="
                /_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_price.svg&amp;w=32&amp;q=75 1x,
                /_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_price.svg&amp;w=48&amp;q=75 2x
              "
            />
          </div>
        </div>
        Prix</label
      >
      <div tabindex="-1" class="sc-1i9i8oo-2 fnFWbk">
        <div class="sc-1i9i8oo-3 eAIOkm"></div>
        <input
          id="price"
          min="1"
          name="price"
          placeholder="0"
          type="number"
          class="sc-1i9i8oo-0 jwHWvh"
          value=""
        />
        <div class="sc-1i9i8oo-3 fauTXP">
          <div class="sc-1i9i8oo-5 fZYXdp">DH</div>
        </div>
      </div>
    </div>
  </div>
  <div class="sc-1lz4h6h-0 hNbKvD sc-phien2-2 dNrtzu">
    <div class="sc-1t6bwmy-0 gswIJF">
      <label for="title" class="sc-1t6bwmy-1 bTPdgy"
        ><div width="35" height="35" class="sc-wdregf-0 eoKEZS">
          <div
            style="
              display: inline-block;
              max-width: 100%;
              overflow: hidden;
              position: relative;
              box-sizing: border-box;
              margin: 0px;
            "
          >
            <div
              style="box-sizing: border-box; display: block; max-width: 100%"
            >
              <img
                alt=""
                aria-hidden="true"
                role="presentation"
                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+"
                style="
                  max-width: 100%;
                  display: block;
                  margin: 0px;
                  border: none;
                  padding: 0px;
                "
              />
            </div>
            <img
              alt="Titre de l'annonce"
              src="/_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_title.svg&amp;w=48&amp;q=75"
              decoding="async"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              "
              srcset="
                /_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_title.svg&amp;w=32&amp;q=75 1x,
                /_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_title.svg&amp;w=48&amp;q=75 2x
              "
            />
          </div>
        </div>
        <span>*</span>Titre de l'annonce</label
      >
      <div tabindex="-1" class="sc-1i9i8oo-2 fnFWbk">
        <div class="sc-1i9i8oo-3 eAIOkm"></div>
        <input
          id="title"
          name="title"
          placeholder="Titre de l'annonce"
          type="text"
          class="sc-1i9i8oo-0 inZaZn"
          value="Autres à Casablanca"
        />
        <div class="sc-1i9i8oo-3 fauTXP">
          <div class="sc-1i9i8oo-4 jNDCeZ">
            <svg
              class="av-icon sc-1i9i8oo-1 kUSyVN"
              height="32"
              width="32"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-labelledby="CloseCircleTitleID"
              style="
                fill: rgb(45, 45, 45);
                stroke: rgb(45, 45, 45);
                stroke-width: 0;
              "
            >
              <title id="CloseCircleTitleID">CloseCircle Icon</title>
              <path
                d="M19.1 4.9C15.2 1 8.8 1 4.9 4.9 1 8.8 1 15.2 4.9 19.1 8.8 23 15.1 23 19 19.1c4-3.9 4-10.3.1-14.2zm-2.9 9.9l-1.4 1.4-2.8-2.8-2.8 2.8-1.4-1.4 2.8-2.8-2.8-2.8 1.4-1.4 2.8 2.8 2.8-2.8 1.4 1.4-2.8 2.8 2.8 2.8z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sc-1lz4h6h-0 hNbKvD sc-phien2-2 dNrtzu">
    <div class="sc-1t6bwmy-0 gswIJF">
      <label for="description" class="sc-1t6bwmy-1 bTPdgy"
        ><div width="35" height="35" class="sc-wdregf-0 eoKEZS">
          <div
            style="
              display: inline-block;
              max-width: 100%;
              overflow: hidden;
              position: relative;
              box-sizing: border-box;
              margin: 0px;
            "
          >
            <div
              style="box-sizing: border-box; display: block; max-width: 100%"
            >
              <img
                alt=""
                aria-hidden="true"
                role="presentation"
                src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+"
                style="
                  max-width: 100%;
                  display: block;
                  margin: 0px;
                  border: none;
                  padding: 0px;
                "
              />
            </div>
            <img
              alt="Texte de l'annonce"
              src="/_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_description.svg&amp;w=48&amp;q=75"
              decoding="async"
              style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              "
              srcset="
                /_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_description.svg&amp;w=32&amp;q=75 1x,
                /_next/image?url=https%3A%2F%2Fassets.avito.ma%2Ficons%2Fsvg%2Fadparam_description.svg&amp;w=48&amp;q=75 2x
              "
            />
          </div>
        </div>
        <span>*</span>Texte de l'annonce</label
      >
      <div tabindex="-1" class="sc-1g1h6e2-1 FuhCN">
        <textarea
          id="description"
          name="description"
          rows="8"
          cols="45"
          class="sc-1g1h6e2-0 jGTtiy"
        ></textarea>
        <div class="sc-1g1h6e2-2 dgXEVL"></div>
      </div>
    </div>
  </div>
</div>
