<footer class="d-block mt-auto mb-">
  <div class="row">
    <div class="col-md-8">Aide et Renseignements</div>
    <div class="col-md-4"><button type="button" class="btn btn-default">العربية</button></div>
    <div></div>
  </div>
  <div class="row">
    <div class="row"></div>
    <div class="row"></div>
  </div>
    <div class="row">
      <div class="col-md-4">
      <ul class="list-unstyled" id="aide-renseignements">
        <li>Aide et Renseignements</li>
        <li class="ml-auto"><button type="button" class="btn btn-default">العربية</button></li>
      </ul>
      </div>
      <div class="col-md-4">
        <h5>Neuf</h5>
        <ul class="list-unstyled">
          <li><a href="#">AUTO NEUF</a></li>
          <li><a href="#">IMMOBILIER NEUF</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Socials</h5>
        <ul class="list-unstyled" id="socials">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <p class="mb-0">Téléchargez l'application gratuitement:</p>
        <div class="d-flex justify-content-center">
          <a href="#" class="btn btn-primary mr-3"><i class="fab fa-google-play"></i> Google Play</a>
          <a href="#" class="btn btn-primary"><i class="fab fa-app-store"></i> App Store</a>
        </div>
      </div>
    </div>
  </div>
</footer>
